{% extends "layout.html" %}

{% block title %}
Twitter | Homepage
{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Welcome to Twitter Django Project</h1>
<hr>
<a href="{% url 'tweet_create' %}" 
   class="btn btn-primary"
   style="display: block; width: fit-content; margin: auto; padding: 12px 24px; background-color: #3498db; color: white; font-size: 16px; border-radius: 50px; transition: all 0.3s ease; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
   Create a Tweet
</a>

<div class="container row gap-3 mt-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>

          <p class="card-text">{{tweet.text}}</p>
            {% if tweet.user == user  %}
            <a href="{% url 'tweet_update' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
  

{% endblock %}